<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
<!-- main -->
<div class="col" ng-controller="LiveChartCtrl">
<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3text-block">{{ $state.params.title }}</h1>
            <h1 class="m-n font-thin h3 text-black">
                {{ experiments[$state.params.title].ChartLayout['Page' + $state.params.pageId].pagetitle }}
            </h1>
            <small class="text-muted">Welcome to Page {{$state.params.pageId}}</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
            <div class="inline m-r text-left">
                <!--<div class="m-b-xs">1290 <span class="text-muted">items</span></div>-->
                <!--<div ng-init="data1=[ 106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98 ]"-->
                     <!--ui-jq="sparkline"-->
                     <!--ui-options="{{data1}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"-->
                     <!--class="sparkline inline">loading...-->
                <!--</div>-->
            </div>
            <div class="inline text-left">
                <!--<div class="m-b-xs">$30,000 <span class="text-muted">revenue</span></div>-->
                <!--<div ng-init="data2=[ 105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109 ]"-->
                     <!--ui-jq="sparkline"-->
                     <!--ui-options="{{data2}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"-->
                     <!--class="sparkline inline">loading...-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!-- / main header -->
<div class="wrapper-md" >
<!-- loop all charts in array and render data options-->
    <span ng-repeat="(name, chart) in experiments[$state.params.title].ChartLayout['Page' + $state.params.pageId]['charts']">
    <div class="row">
        <div class="col-md-12" ng-controller="LiveChartCtrl">
            <div class="panel wrapper">
                <h4 class="font-thin m-t-none m-b text-muted">
                    {{ dataExperements[$state.params.title].ChartLayout['Page' + $state.params.pageId]['charts'][$index].title }}
                </h4>
                <ng-dygraphs id="chart00" style="height:250px;"
                             data="dataExperements[$state.params.title].ChartLayout['Page' + $state.params.pageId]['charts'][$index].data"
                             options="dataExperements[$state.params.title].ChartLayout['Page' + $state.params.pageId]['charts'][$index].options"
                        >
                </ng-dygraphs>
            </div>
        </div>
    </div>
   </span>
<!-- / stats -->

<!-- service -->
<!--<div class="panel hbox hbox-auto-xs no-border">-->
<!--<div class="col wrapper">-->
<!--<i class="fa fa-circle-o text-info m-r-sm pull-right"></i>-->
<!--<h4 class="font-thin m-t-none m-b-none text-primary-lt">Managed Services</h4>-->
<!--<span class="m-b block text-sm text-muted">Service report of this year (updated 1 hour ago)</span>-->
<!--<div ui-jq="plot" ui-options="-->
<!--[-->
<!--{ data: {{d4}}, lines: { show: true, lineWidth: 1, fill:true, fillColor: { colors: [{opacity: 0.2}, {opacity: 0.8}] } } }-->
<!--], -->
<!--{-->
<!--colors: ['{{app.color.light}}'],-->
<!--series: { shadowSize: 3 },-->
<!--xaxis:{ show:false },-->
<!--yaxis:{ font: { color: '#a1a7ac' } },-->
<!--grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },-->
<!--tooltip: true,-->
<!--tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }-->
<!--}-->
<!--" style="height:240px" >-->
<!--</div>-->
<!--</div>-->
<!--<div class="col wrapper-lg w-lg bg-light dk r-r">-->
<!--<h4 class="font-thin m-t-none m-b">Reports</h4>-->
<!--<div class="">-->
<!--<div class="">-->
<!--<span class="pull-right text-primary">60%</span>-->
<!--<span>Consulting</span>-->
<!--</div>-->
<!--<progressbar value="60" class="progress-xs m-t-sm bg-white" animate="true" type="primary"></progressbar>-->
<!--<div class="">-->
<!--<span class="pull-right text-info">35%</span>-->
<!--<span>Online tutorials</span>-->
<!--</div>-->
<!--<progressbar value="35" class="progress-xs m-t-sm bg-white" animate="true" type="info"></progressbar>-->
<!--<div class="">-->
<!--<span class="pull-right text-warning">25%</span>-->
<!--<span>EDU management</span>-->
<!--</div>-->
<!--<progressbar value="25" class="progress-xs m-t-sm bg-white" animate="true" type="warning"></progressbar>-->
<!--</div>-->
<!--<p class="text-muted">Dales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>-->
<!--</div>-->
<!--</div>-->
<!-- / service -->

<!-- tasks -->
<!--<div class="panel wrapper">-->
<!--<div class="row">-->
<!--<div class="col-md-6 b-r b-light no-border-xs">-->
<!--<a href class="text-muted pull-right text-lg"><i class="icon-arrow-right"></i></a>-->
<!--<h4 class="font-thin m-t-none m-b-md text-muted">My Tasks</h4>-->
<!--<div class=" m-b">-->
<!--<div class="m-b">-->
<!--<span class="label text-base bg-warning pos-rlt m-r"><i class="arrow right arrow-warning"></i> 19:30</span>-->
<!--<a href>Feed cat</a>-->
<!--</div>-->
<!--<div class="m-b">-->
<!--<span class="label text-base bg-info pos-rlt m-r"><i class="arrow right arrow-info"></i> 12:30</span>-->
<!--<a href>Fishing Time</a>-->
<!--</div>-->
<!--<div class="m-b">-->
<!--<span class="label text-base bg-primary pos-rlt m-r"><i class="arrow right arrow-primary"></i> 10:30</span>-->
<!--<a href>Kick-off meeting</a>-->
<!--</div>-->
<!--<div class="m-b">-->
<!--<span class="label text-base bg-light pos-rlt m-r"><i class="arrow right arrow-light"></i> 07:30</span>-->
<!--<a href>Morning running</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">            -->
<!--<div class="row row-sm">-->
<!--<div class="col-xs-6 text-center">-->
<!--<div ui-jq="easyPieChart" ui-options="{-->
<!--percent: 75,-->
<!--lineWidth: 4,-->
<!--trackColor: '{{app.color.light}}',-->
<!--barColor: '{{app.color.primary}}',-->
<!--scaleColor: false,-->
<!--size: 115,-->
<!--rotate: 90,-->
<!--lineCap: 'butt'-->
<!--}" class="inline m-t">-->
<!--<div>-->
<!--<span class="text-primary h4">75%</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="text-muted font-bold text-xs m-t m-b">Work Done</div>-->
<!--</div>-->
<!--<div class="col-xs-6 text-center">-->
<!--<div ui-jq="easyPieChart" ui-options="{-->
<!--percent: 50,-->
<!--lineWidth: 4,-->
<!--trackColor: '{{app.color.light}}',-->
<!--barColor: '{{app.color.info}}',-->
<!--scaleColor: false,-->
<!--size: 115,-->
<!--rotate: 180,-->
<!--lineCap: 'butt'-->
<!--}" class="inline m-t">-->
<!--<div>-->
<!--<span class="text-info h4">50%</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="text-muted font-bold text-xs m-t m-b">Started</div>-->
<!--</div>-->
<!--</div>            -->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- / tasks -->

<!-- tasks -->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="panel no-border">-->
<!--<div class="panel-heading wrapper b-b b-light">-->
<!--<span class="text-xs text-muted pull-right">-->
<!--<i class="fa fa-circle text-primary m-r-xs"></i> 12-->
<!--<i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30-->
<!--<i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98-->
<!--</span>-->
<!--<h4 class="font-thin m-t-none m-b-none text-muted">Teammates</h4>              -->
<!--</div>-->
<!--<ul class="list-group list-group-lg m-b-none">-->
<!--<li class="list-group-item">-->
<!--<a href class="thumb-sm m-r">-->
<!--<img src="img/a1.jpg" class="r r-2x">-->
<!--</a>-->
<!--<span class="pull-right label bg-primary inline m-t-sm">Admin</span>-->
<!--<a href>Damon Parker</a>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<a href class="thumb-sm m-r">-->
<!--<img src="img/a2.jpg" class="r r-2x">-->
<!--</a>-->
<!--<span class="pull-right label bg-info inline m-t-sm">Member</span>-->
<!--<a href>Joe Waston</a>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<a href class="thumb-sm m-r">-->
<!--<img src="img/a3.jpg" class="r r-2x">-->
<!--</a>-->
<!--<span class="pull-right label bg-warning inline m-t-sm">Editor</span>-->
<!--<a href>Jannie Dvis</a>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<a href class="thumb-sm m-r">-->
<!--<img src="img/a4.jpg" class="r r-2x">-->
<!--</a>-->
<!--<span class="pull-right label bg-warning inline m-t-sm">Editor</span>-->
<!--<a href>Emma Welson</a>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="panel-footer">-->
<!--<span class="pull-right badge badge-bg m-t-xs">32</span>-->
<!--<button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add Teammate</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">            -->
<!--<div class="list-group list-group-lg list-group-sp">-->
<!--<a herf class="list-group-item clearfix">-->
<!--<span class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a4.jpg" alt="...">-->
<!--<i class="on b-white right"></i>-->
<!--</span>-->
<!--<span class="clear">-->
<!--<span>Chris Fox</span>-->
<!--<small class="text-muted clear text-ellipsis">What's up, buddy</small>-->
<!--</span>-->
<!--</a>-->
<!--<a herf class="list-group-item clearfix">-->
<!--<span class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a5.jpg" alt="...">-->
<!--<i class="on b-white right"></i>-->
<!--</span>-->
<!--<span class="clear">-->
<!--<span>Amanda Conlan</span>-->
<!--<small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>-->
<!--</span>-->
<!--</a>-->
<!--<a herf class="list-group-item clearfix">-->
<!--<span class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a6.jpg" alt="...">-->
<!--<i class="busy b-white right"></i>-->
<!--</span>-->
<!--<span class="clear">-->
<!--<span>Dan Doorack</span>-->
<!--<small class="text-muted clear text-ellipsis">Hey, Some good news</small>-->
<!--</span>-->
<!--</a>-->
<!--<a herf class="list-group-item clearfix">-->
<!--<span class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a7.jpg" alt="...">-->
<!--<i class="busy b-white right"></i>-->
<!--</span>-->
<!--<span class="clear">-->
<!--<span>Lauren Taylor</span>-->
<!--<small class="text-muted clear text-ellipsis">Nice to talk with you.</small>-->
<!--</span>-->
<!--</a>-->
<!--<a herf class="list-group-item clearfix">-->
<!--<span class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a8.jpg" alt="...">-->
<!--<i class="away b-white right"></i>-->
<!--</span>-->
<!--<span class="clear">-->
<!--<span>Mike Jackson</span>-->
<!--<small class="text-muted clear text-ellipsis">This is nice</small>-->
<!--</span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- / tasks -->
</div>
</div>
<!-- / main -->
<!-- right col -->
<!--<div class="col w-md bg-white-only b-l bg-auto no-border-xs">-->
<!--<tabset class="nav-tabs-alt" justified="true">-->
<!--<tab>-->
<!--<tab-heading>-->
<!--<i class="glyphicon glyphicon-user text-md text-muted wrapper-sm"></i>-->
<!--</tab-heading>-->
<!--<div class="wrapper-md">-->
<!--<div class="m-b-sm text-md">Who to follow</div>-->
<!--<ul class="list-group no-bg no-borders pull-in">-->
<!--<li class="list-group-item">-->
<!--<a herf class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a4.jpg" alt="..." class="img-circle">-->
<!--<i class="on b-white bottom"></i>-->
<!--</a>-->
<!--<div class="clear">-->
<!--<div><a href>Chris Fox</a></div>-->
<!--<small class="text-muted">Designer, Blogger</small>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<a herf class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a5.jpg" alt="..." class="img-circle">-->
<!--<i class="on b-white bottom"></i>-->
<!--</a>-->
<!--<div class="clear">-->
<!--<div><a href>Mogen Polish</a></div>-->
<!--<small class="text-muted">Writter, Mag Editor</small>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<a herf class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a6.jpg" alt="..." class="img-circle">-->
<!--<i class="busy b-white bottom"></i>-->
<!--</a>-->
<!--<div class="clear">-->
<!--<div><a href>Joge Lucky</a></div>-->
<!--<small class="text-muted">Art director, Movie Cut</small>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<a herf class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a7.jpg" alt="..." class="img-circle">-->
<!--<i class="away b-white bottom"></i>-->
<!--</a>-->
<!--<div class="clear">-->
<!--<div><a href>Folisise Chosielie</a></div>-->
<!--<small class="text-muted">Musician, Player</small>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<a herf class="pull-left thumb-sm avatar m-r">-->
<!--<img src="img/a8.jpg" alt="..." class="img-circle">-->
<!--<i class="away b-white bottom"></i>-->
<!--</a>-->
<!--<div class="clear">-->
<!--<div><a href>Aron Gonzalez</a></div>-->
<!--<small class="text-muted">Designer</small>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="text-center">-->
<!--<a href class="btn btn-sm btn-primary padder-md m-b">More Connections</a>-->
<!--</div>-->
<!--</div>-->
<!--</tab>-->
<!--<tab>-->
<!--<tab-heading>-->
<!--<i class="glyphicon glyphicon-comment text-md text-muted wrapper-sm"></i>-->
<!--</tab-heading>-->
<!--<div class="wrapper-md">-->
<!--<div class="m-b-sm text-md">Chat</div>-->
<!--<ul class="list-group no-borders pull-in auto">-->
<!--<li class="list-group-item">-->
<!--<span class="pull-left thumb-sm m-r"><img src="img/a1.jpg" alt="..." class="img-circle"></span>-->
<!--<a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>-->
<!--<div class="clear">-->
<!--<div><a href="">Chris Fox</a></div>-->
<!--<small class="text-muted">about 2 minutes ago</small>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<span class="pull-left thumb-sm m-r"><img src="img/a2.jpg" alt="..." class="img-circle"></span>-->
<!--<a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>-->
<!--<div class="clear">-->
<!--<div><a href="">Amanda Conlan</a></div>-->
<!--<small class="text-muted">about 2 hours ago</small>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<span class="pull-left thumb-sm m-r"><img src="img/a3.jpg" alt="..." class="img-circle"></span>-->
<!--<a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>-->
<!--<div class="clear">-->
<!--<div><a href="">Dan Doorack</a></div>-->
<!--<small class="text-muted">3 days ago</small>-->
<!--</div>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<span class="pull-left thumb-sm m-r"><img src="img/a4.jpg" alt="..." class="img-circle"></span>-->
<!--<a href class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>-->
<!--<div class="clear">-->
<!--<div><a href="">Lauren Taylor</a></div>-->
<!--<small class="text-muted">about 2 minutes ago</small>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</tab>-->
<!--<tab>-->
<!--<tab-heading>-->
<!--<i class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i>-->
<!--</tab-heading>-->
<!--<div class="wrapper-md">-->
<!--<div class="m-b-sm text-md">Transaction</div>-->
<!--<ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">-->
<!--<li class="list-group-item">-->
<!--<span class="text-muted">Transfer to Jacob at 3:00 pm</span>-->
<!--<span class="block text-md text-info">B 15,000.00</span>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<span class="text-muted">Got from Mike at 1:00 pm</span>-->
<!--<span class="block text-md text-primary">B 23,000.00</span>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<span class="text-muted">Sponsored ORG at 9:00 am</span>-->
<!--<span class="block text-md text-warning">B 3,000.00</span>-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<span class="text-muted">Send to Jacob at 8:00 am</span>-->
<!--<span class="block text-md">B 11,000.00</span>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</tab>      -->
<!--</tabset>-->
<!--<div class="padder-md">      -->
<!--&lt;!&ndash; streamline &ndash;&gt;-->
<!--<div class="m-b text-md">Recent Activity</div>-->
<!--<div class="streamline b-l m-b">-->
<!--<div class="sl-item">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">5 minutes ago</div>-->
<!--<p><a href class="text-info">Jessi</a> commented your post.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="sl-item">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">11:30</div>-->
<!--<p>Join comference</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="sl-item b-success b-l">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">10:30</div>-->
<!--<p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">-->
<!--Create tasks for the team-->
<!--</div>-->
<!--<div class="sl-item b-primary b-l">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">Wed, 25 Mar</div>-->
<!--<p>Finished task <a href class="text-info">Testing</a>.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="sl-item b-warning b-l">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">Thu, 10 Mar</div>-->
<!--<p>Trip to the moon</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="sl-item b-info b-l">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">Sat, 5 Mar</div>-->
<!--<p>Prepare for presentation</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="sl-item b-l">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">Sun, 11 Feb</div>-->
<!--<p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="sl-item b-l">-->
<!--<div class="m-l">-->
<!--<div class="text-muted">Thu, 17 Jan</div>-->
<!--<p>Follow up to close deal</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; / streamline &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!-- / right col -->
</div>